.btn {
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  display: flex;
  height: 5.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 3.2rem;
  font-size: 2rem;
  font-weight: $medium;
  line-height: 1;
  transition: all .3s ease;
  flex-shrink: 0;
  padding: 0 2.4rem;
  cursor: pointer;
  min-width: 11.4rem;
  &-main {
    color: $color-white;
    background-color: $color-secondary;
    &:hover {
      background-color: $color-green-middle;
    }
    &:active {
      background-color: $color-green-dark;
    }
  }
  &[disabled] {
    pointer-events: none;
    background-color: $color-gray;
  }

  > img {
    margin-right: 1.2rem;
  }
}

.wrp-btn {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.btn-add-note {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  background-color: $color-secondary;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1.5rem 4.6rem -1rem rgba(0, 0, 0, 0.60);
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $color-green-middle;
  }
  &:active {
    background-color: $color-green-dark;
  }

  @include md-block() {
    right: 2rem;
    bottom: 3rem;
  }
  @include sm-block() {
    right: 1rem;
    bottom: 2rem;
  }
  @include xs-block() {
    right: 0.5rem;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}