.form {
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    p {
      color: $color-gray;
    }
    .btn {
      margin-left: auto;
    }
  }
  &__error {
    color: $color-red;
    border-radius: 4rem;
    background: rgba(255, 116, 97, 0.10);
    padding: .8rem 2rem;
    margin-top: 2rem;
    display: none;
  }
}