.modal-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 31, 56, 0.7);
  transition: opacity .3s ease;
  z-index: 99999;
  overflow: auto;
  &-wrapper {
    transition: all .3s ease;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    h3 {
      font-size: 4.8rem;
      font-weight: $semibold;
      margin-top: 0;
      margin-bottom: 2.5rem;
      @include sm-block() {
        font-size: 3.2rem;
        line-height: 1.2;
      }
    }
  }
  &-container {
    margin: auto;
    max-width: 81rem;
    width: 100%;
    @include sm-block() {
      padding: 0;
      width: 100%;
    }
  }
  &-body {
    position: relative;
    background: $color-dark-middle;
    padding: 8rem;
    border-radius: 4rem;
    margin: 1.5rem;
    @include sm-block() {
      margin: 0;
      padding: 8rem 2rem;
      height: 100%;
    }
  }
  &-enter, &-leave-active {
    opacity: 0;
    transition: all .4s ease;
    transition-property: transform opacity;
    .modal-container {
      opacity: 0;
      transition: all .4s ease;
      transition-property: transform opacity;
      transform: scale(0.7);
    }
  }
  &-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 200;
    background-color: $color-secondary;
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url(/images/close.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;
      transition: all .3s ease;
    }
    &:hover {
      &:after {
        transform: rotate(90deg);
      }
    }
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
}