.modal-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity .3s ease;
  z-index: 99999;
  &-wrapper {
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, .33);
    transition: all .3s ease;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 78rem;
    width: 100%;
    h3 {
      font-size: 4.8rem;
      font-weight: $semibold;
      margin-top: 0;
      margin-bottom: 2.5rem;
    }
  }
  &-container {
    background: $color-dark-middle;
    padding: 8rem;
    position: relative;
    border-radius: 4rem;
    @include md-block() {
      border-radius: .3rem;
      padding: 2rem 1.5rem;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  &-enter, &-leave-active {
    opacity: 0;
    transition: all .4s ease;
    transition-property: transform opacity;
    .modal-container {
      opacity: 0;
      transition: all .4s ease;
      transition-property: transform opacity;
      transform: scale(0.7);
    }
  }
  &-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 200;
    background-color: $color-secondary;
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url(/images/close.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;
      transition: all .3s ease;
    }
    &:hover {
      &:after {
        transform: rotate(90deg);
      }
    }
    &:focus {
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
}